/* Section */
.qualification {
    padding: 6rem 1rem;
    text-align: center;
}

.section__title {
    font-size: 2.2rem;
    margin-bottom: 0.5rem;
}

.section__subtitle {
    color: #777;
    display: block;
    margin-bottom: 3rem;
}

/* Tabs */
.tabs {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 4rem;
}

.tab {
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    padding-bottom: 5px;
    color: #444;
    position: relative;
    transition: 0.3s;
}

.tab.active {
    color: #000;
    font-weight: 600;
}

.tab.active::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #000;
    bottom: 0;
    left: 0;
}

/* Timeline */
.timeline {
    position: relative;
    max-width: 900px;
    margin: auto;
}

/* Center vertical line */
.timeline::before {
    content: "";
    position: absolute;
    width: 2px;
    background: #ccc;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

/* Timeline Item */
.timeline-item {
    position: relative;
    width: 50%;
    padding: 1rem 2rem;
    margin-bottom: 3rem;
}

.timeline-item.left {
    text-align: right;
    left: 0;
}

.timeline-item.right {
    text-align: left;
    left: 50%;
}

/* Dot */
.dot {
    position: absolute;
    top: 15px;
    width: 12px;
    height: 12px;
    background: #888;
    border-radius: 50%;
    z-index: 2;
}

.timeline-item.left .dot {
    right: -6px;
}

.timeline-item.right .dot {
    left: -6px;
}

/* Content */
.content h3 {
    font-size: 1.1rem;
    margin-bottom: 4px;
}

.content p {
    color: #777;
    margin-bottom: 4px;
}

.content span {
    font-size: 0.85rem;
    color: #aaa;
}

/* Responsive */
@media screen and (max-width: 768px) {
    .timeline {
        width: 95%;
    }

    .section__title {
        font-size: 2rem;
    }

    .timeline__item h3 {
        font-size: 1rem;
    }
}